<div
  class="z-50 h-screen w-screen transition-opacity duration-300"
  *ngIf="bio$ | async as bioChunks"
  [ngClass]="{ 'opacity-0': !loaderFinished, 'opacity-100': loaderFinished }"
>
  <div
    class="relative mt-20 flex h-full w-full flex-col text-6xl md:absolute md:mt-0 md:grid md:grid-cols-2 md:grid-rows-2 md:items-center md:justify-center"
  >
    <div class="invisible col-span-2 md:visible"></div>
    <div class="text-monizzie-red text-center">About Moni</div>
    <div class="block font-mono text-xs sm:p-10 md:hidden md:p-20">
      <div
        *ngFor="let chunk of bioChunks; let i = index"
        class="p-4 pt-0 sm:pt-4"
      >
        <img
          *ngIf="i === 2"
          ngSrc="../../../assets/selfie-).JPG"
          width="250"
          height="250"
          class="mr-auto ml-auto py-6 md:hidden"
        />
        {{ chunk }}
      </div>
    </div>
    <div>
      <img
        ngSrc="../../../assets/selfie-).JPG"
        width="400"
        height="400"
        class="mr-auto ml-auto hidden md:block"
      />
    </div>
  </div>
  <div class="absolute h-screen w-screen font-mono text-xs">
    <div class="hidden w-full pt-40 pr-20 pl-[33%] md:block">
      <div *ngFor="let chunk of bioChunks" class="p-4">
        {{ chunk }}
      </div>
    </div>
  </div>
</div>
<app-loader
  [loading]="loading"
  (transitionOutCompleted)="loaderFinished = true"
></app-loader>
