<app-work-scroller
  [upOption]="upOption"
  [downOption]="downOption"
  [parentDoneLoading]="!(loading | async)"
></app-work-scroller>
<div
  class="transiiton-opacity absolute top-0 left-0 h-screen w-screen overflow-visible bg-gray-800/0 duration-300 transform-3d"
  [ngClass]="{
    'bg-gray-500/90': selectedIndex !== -1,
  }"
>
  <div class="absolute top-0 left-0 h-screen w-screen" *ngIf="useTitle">
    <div
      class="mt-20 hidden h-[calc(100% - (var(--spacing) * 20) - 1%)] w-full flex-col items-center text-6xl md:flex"
    >
      <span class="translate-z-5">{{
        location.charAt(0).toUpperCase() + location.slice(1)
      }}</span>
    </div>
  </div>
  <ng-container *ngIf="viewInitialized && !useFixed">
    <ng-container *ngFor="let image of images; let i = index">
      <div
        [style.--tw-translate-x]="isSelected(i) ? imageStyle[i][1].x : '0'"
        [style.--tw-translate-y]="isSelected(i) ? imageStyle[i][1].y : '0'"
        [style.--tw-scale-x]="isSelected(i) ? scale : ''"
        [style.--tw-scale-y]="isSelected(i) ? scale : ''"
        [style.--tw-translate-z]="
          isSelected(i) ? '40px' : imageStyle[i][0]['z-index'] + 'px'
        "
        [style.top]="imageStyle[i][0].top"
        [style.left]="imageStyle[i][0].left"
        [ngClass]="{
          'hover:!translate-z-4': !isSelected(i),
        }"
        class="absolute inline-block translate-3d scale-3d transition-all duration-300"
        style="width: fit-content; height: fit-content"
      >
      <!--  -->
        <img
          *ngIf="mediaType === 'image'"
          [src]="useS3 ? `https://client-uploads-877b7177.s3.us-east-2.amazonaws.com/71db65b0-7081-7071-3f6f-b386c234050f/SiteImage/${image}` : useRaw ? image : `../../../assets/${location}/` + image"
          (click)="focus(i)"
          [style.--tw-rotate-x]="!isSelected(i) ? imageStyle[i][0].rotate : '0'"
          [style.--tw-rotate-y]="!isSelected(i) ? imageStyle[i][0].rotate : '0'"
          [style.image-rendering]="!isSelected(i) ? 'pixelated' : ''"
          class="aspect-auto rotate-z-0 rounded-md shadow-lg duration-300 hover:cursor-pointer hover:shadow-2xl hover:shadow-black/30"
          [ngClass]="{
            'opacity-0': loading | async,
            'opacity-100':
              !(loading | async) && (selectedIndex === -1 || isSelected(i)),
            'opacity-50': selectedIndex !== -1 && !isSelected(i),
            'max-w-[200px] lg:max-w-[300px]': size === 'lg',
            'max-w-[135px] sm:max-w-[200px] md:max-w-[245px] lg:max-w-[300px]':
              size === 'md',
            'max-h-[100px] max-w-[75px] md:max-h-[150px] md:max-w-[100px] lg:max-w-[200px]':
              size === 'sm',
            'hover:scale-110 hover:shadow-2xl hover:shadow-black/50':
              !isSelected(i),
          }"
          (load)="imageLoaded(i)"
        />
        <!-- <video
          *ngIf="mediaType !== 'image'"
          allow="autoplay"
          playsinline
          [muted]="mediaType === 'animation'"
          loop
          allowpictureinpicture="false"
          (loadeddata)="imageLoaded(i)"
          [ngClass]="{
            'opacity-50': selectedIndex !== -1 && !isSelected(i),
            'opacity-0': loading | async,
          }"
          (click)="focus(i)"
          class="aspect-auto max-w-[175px] rounded-md shadow-lg duration-300 hover:cursor-pointer hover:shadow-2xl hover:shadow-black/30 md:max-w-[225px] lg:max-w-[300px]"
          #videoElement
        >
          <source
            [src]="useS3 ? `https://client-uploads-877b7177.s3.us-east-2.amazonaws.com/71db65b0-7081-7071-3f6f-b386c234050f/SiteImage/${image}` : useRaw ? image : `../../../assets/${location}/` + image"
            type="video/quicktime"
          />
        </video> -->
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="useFixed">
    <div
      class="mt-6 grid h-10/12 w-full translate-3d scale-3d rotate-z-0 [grid-auto-rows:1fr] items-stretch justify-center transition-all duration-300 sm:h-11/12 md:mt-0"
      [style]="'padding-top:' + offsetTop + 'px'"
      [ngClass]="{
        'grid-cols-1 md:grid-cols-2': cols === 2,
        'grid-cols-2 md:grid-cols-3': cols === 3,
      }"
    >
      <div
        *ngFor="let image of images; let i = index"
        class="justify-transition-opacity flex h-full min-h-0 items-center duration-300"
        [ngClass]="{
          'col-span-2 md:col-span-1':
            images.length % 2 && i === images.length - 1,
          'opacity-0': loading | async,
        }"
      >
        <video
          preload="metadata"
          *ngIf="mediaType !== 'image'"
          allowpictureinpicture="false"
          (loadedmetadata)="imageLoaded(i)"
          muted
          (click)="focus(i)"
          (fullscreenchange)="fullScreenChange(i)"
          (mouseenter)="onVideoHover($any($event), true, i)"
          (mouseleave)="onVideoHover($any($event), false, i)"
          [ngClass]="{
            'hover:scale-110 hover:cursor-pointer hover:shadow-2xl hover:shadow-black/50':
              !isSelected(i),
          }"
          class="z-10 mr-auto ml-auto aspect-auto max-h-[80%] max-w-[80%] rounded-md transition-all duration-300"
          #videoElement
        >
          <source
            [src]="(useS3 ? `https://client-uploads-877b7177.s3.us-east-2.amazonaws.com/71db65b0-7081-7071-3f6f-b386c234050f/SiteImage/${image}` : useRaw ? image : `../../../assets/${location}/` + image) + '#t=0.001'"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </ng-container>
</div>
<app-loader
  size="lg"
  [loading]="(showLoader | async) ?? true"
  (transitionOutCompleted)="onTransitionOutCompleted()"
></app-loader>
