<div
  [ngClass]="{ 'opacity-0': !bringTheBeatIn, 'opacity-100': bringTheBeatIn }"
  class="transition-all duration-300"
>
  <div
    class="fixed inset-0 -z-50 min-h-[100svh] w-full overflow-hidden object-cover"
  >
    <video
      #backgroundVideo
      playsinline
      autoplay
      muted
      loop
      preload="metadata"
      class="xl+:min-w-full xl+:min-h-full absolute top-4 -left-48 -ml-96 h-full min-h-[1024px] w-fit max-w-none overflow-hidden object-cover transition-opacity duration-300 sm:left-0 md:-ml-36 lg:-ml-1"
    >
      <source src="../assets/running.mp4" type="video/mp4" />
    </video>
  </div>
  <div
    class="text-monizzie-red absolute flex h-screen w-screen items-center justify-center overflow-hidden text-5xl sm:text-6xl md:text-8xl lg:text-9xl"
  >
    <div>Monica Anguiano</div>
  </div>
</div>
<app-loader
  size="lg"
  [loading]="!loaded"
  (transitionOutCompleted)="bringTheBeatIn = true"
></app-loader>
